@media screen and (max-width:1005px) {
    .menu {
        display: none;
    }

    .nav_bar {
        position: relative;
    }

    .logo {
        margin: 0;
        text-align: center;
    }

    .header {
        padding-top: 50px;
    }

    .headeline {
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

    .headeline p {
        text-align: center;
    }

    .img_headeline {
        flex: 100%;
        margin: 5%;
    }

    .card {
        width: 100%;
    }
}